.container {
  max-width: 1000px;
  margin: 40px auto;
  font-family: Arial, sans-serif;
  color: #444;
}

.columns {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.column {
  flex: 1;
  min-width: 300px;
}

.accordion {
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.accordionButton {
  width: 100%;
  padding: 14px;
  text-align: center;
  font-weight: bold;
  background-color: #f3f3f3;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 16px;
  color: #444;
}

.accordionButton:hover {
  background-color: #ddd;
}

.active {
  background-color: #47c179;
  color: white;
}

.accordionContent {
  padding: 20px;
  background-color: #fff;
  font-size: 15px;
  line-height: 1.6;
  text-align: center;
}

.tabButton,
.lineTab {
  transition: transform 0.2s;
}

.activeTabButton,
.activeLine {
  transform: translateX(8px);
}