body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #883232;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 300px;
}

#display {
    background-color: #b36969;
    color: white;
    font-size: 2em;
    text-align: right;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    height: 60px;
    overflow: hidden;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    background-color: #d6cccc;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #d4d4d4;
}

.equal {
    background-color: #258732;
    color: white;
    grid-row: span 2;
}

.zero {
    grid-column: span 2;
}