
.sliderContainer {
  font-family: Arial, sans-serif;
  
}

.mainImageWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  width: 100%;
}

.mainImage {
  width: 400px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.navButton {
  top: 50%;
  transform: translateY(-50%);
  background-color: #eee;
  border: none;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  z-index: 2;
  border-radius: 6px;
}

.navButton.left {
  left: 10px;
}

.navButton.right {
  right: 10px;
}

.thumbnailContainer {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.thumbnailWrapper {
  border: 2px solid transparent;
  padding: 6px;
  cursor: pointer;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: all 0.3s;
}

.thumbnailWrapper.active {
  border: 2px solid orange;
}

.thumbnail {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border-radius: 6px;
}
